Issue 1: document titles vs nicknames

Should the document descriptions match the RFC titles?

7154: IETF Guidelines for Conduct
7776: IETF Anti-Harassment Procedures

Original:
   The IETF Note Well [NOTE-WELL] applies to discussions on the IETF
   discussion list and all other IETF mailing lists, and requires
   conformance with the IETF Guidelines for Conduct [RFC7154] and the
   Anti-Harassment Policy [RFC7776], among others.

   This document obsoletes [RFC3005], documenting the use of other
   mailing lists for discussions that used to be in scope for the IETF
   discussion list, referring to applicable policies such as the
   Guidelines for Conduct [RFC7154] and the Anti-Harassment Policy
   [RFC7776], and clarifying moderation procedures.